@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');

#header {
    background-color: #000;
}


/* Variables CSS */

:root { 
    --header-height: 3.5rem;   

    /* Colors */
    /* hue saturation lightness */
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 70%);
    --title-color-light: hsl(0, 0%, 95%);
    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 8%);

    /* Font and typography */
    --body-font: 'Poppins', sans-serif;
    --body-font: 'Montserrat', sans-serif;
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z index */   
    --z-tooltip: 10;
    --z-fixed: 100;
}

    /* Responsive typography */
    @media screen and (min-width: 1152px){
        :root{
            --biggest-font-size: 5.5rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem; 
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
    }
}

/* Base */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
} 

body{   
    background-color: var(--body-color);
}

button,
input{ 
    outline: none;
    border: none;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-medium);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* reusable css classes */
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

.section__title{
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 1.5rem;
}

.main{
    overflow: hidden; /* For animation ScrollReveal */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    width: 50px;
}

.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(0, 0%, 0%, .3);
        width: 100%;
        padding-block: 4rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px); /* For Safari */
        transition: top .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
}

.nav__link{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-family: var(--second-font);
}

.nav__link::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--title-color);
    transition: width .3s;
}

.nav__link:hover::after{
    width: 70%;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu{
    top: 0;
}

.active-link::after{
    width: 70%;
}

.home{
    position: relative;
}

.home__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center;
}

.home__shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 58%,
                hsl(0, 0%, 0%) 78%);
}

.home__container{
    position: relative;
    padding-top: 3rem;
    row-gap: 3rem;
}

.home__data{
    text-align: center;
}

.home__subtitle{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.home__title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.home__description{
    margin-bottom: 2rem;
    color: var(--title-color);
}

.home__cards{
    grid-template-columns: 240px;
    justify-content: center;
}

.home__card{
    position: relative;
    overflow: hidden;
}

.home__card-img{
    transition: transform .4s;
}

.home__card-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 37%,
                hsl(0, 0%, 0%) 61%);
    pointer-events: none;
}

.home__card-title{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: var(--h3-font-size);
    z-index: 1;
}

.home__card:hover .home__card-img{
    transform: scale(1.2);
}

.button{
    background-color: hsla(0, 0%, 100%, .2);
    padding: 1.25rem 1.5rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For Safari */
}

.button i{
    font-size: 1.25rem;
    transition: transform .4s;
    font-weight: initial;
}

.button:hover i{
    transform: translateX(.25rem);
}

.about__container{
    row-gap: 3rem;
}

.about__data{
    text-align: center;
}

.about__description{
    margin-bottom: 2rem;
}

.about__image{
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.about__img{
    width: 300px;
    transition: transform .4s;
}

.about__shadow{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 50%,
                hsl(0, 0%, 0%) 125%);
}

.about__image:hover .about__img{
    transform: scale(1.2);
}

.popular__container{
    padding-top: 1.5rem;
    grid-template-columns: 240px;
    justify-content: center;
    row-gap: 2.5rem;
}

.popular__image{
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.popular__img{
    transition: transform .4s;
}

.popular__shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 50%,
                hsl(0, 0%, 0%) 125%);
}

.popular__title{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.popular__location{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-size: var(--small-font-size);
    font-family: var(--second-font);
    font-weight: 500;
}

.popular__location i{
    font-size: 1rem;
}

.popular__image:hover .popular__img{
    transform: scale(1.2);
}

.explore{
    position: relative;
}

.explore__image{
    position: absolute;
    overflow: hidden;
}

.explore__img{
    width: 100%;
    height: 333px;
    object-fit: cover;
    object-position: center;
}

.explore__shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                hsl(0, 0%, 0%) 5%,
                hsla(0, 0%, 0%, 0%) 40%,
                hsla(0, 0%, 0%, 0%) 60%,
                hsl(0, 0%, 0%) 92%);
}

.explore__content{
    position: relative;
    padding-top: 16rem;
    text-align: center;
    row-gap: 2.5rem;
}

.explore__user{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.explore__perfil{
    width: 30px;
    border-radius: 50%;
}

.explore__name{
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.join__container{
    row-gap: 3rem;
    padding-bottom: 2.5rem;
}

.join__data{
    text-align: center;
}

.join__description{
    margin-bottom: 2rem;
}

.join__form{
    display: grid;
    row-gap: 1rem;
}

.join__input{
    padding: 1.25rem 1rem;
    background-color: var(--container-color);
}

.join__button{
    cursor: pointer;
}

.join__image{
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.join__img{
    width: 300px;
    transition: transform .4s;
}

.join__shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 50%,
                hsl(0, 0%, 0%) 125%);
}

.join__image:hover .join__img{
    transform: scale(1.2);
}

.footer{
    padding-block: 2.5rem;
    background-color: var(--container-color);
}

.footer__content{
    row-gap: 3.5rem;
}

.footer__logo{
    display: inline-block;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.footer__data{
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 3.5rem;
}

.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer__links{
    display: grid;
    row-gap: .75rem;
}

.footer__link{
    color: var(--text-color);
    transition: color .4s;
}

.footer__link:hover{
    color: var(--title-color);
}

.footer__group,
.footer__social{
    display: flex;
}

.footer__group{
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.footer__social{
    column-gap: 1.5rem;
}

.footer__social-link{
    color: var(--text-color);
    font-size: 1.25rem;
    transition: color .4s, transform .4s;
}

.footer__social-link:hover{
    color: var(--title-color);
    transform: translateY(-.25rem);
}

.footer__copy{
    font-size: var(--smaller-font-size);
    color: var(--title-color-light);
    text-align: center;
}

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 10%);   
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(0, 0%, 20%);   
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 30%);   
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsla(0, 0%, 100%, .1);
    padding: 6px;
    display: inline-flex;
    color: var(--title-color);
    font-size: 1.25rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover{
    transform: translateY(-.25rem);
}

.show-scroll{
    bottom: 3rem;
}

/* For small devices */
@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }
    
    .footer__data{
        grid-template-columns: max-content;
    }
}
/* For medium devices */
@media screen and (min-width: 576px){
    .home__container,
    .about__container,
    .explore__content,
    .join__container{
        grid-template-columns: 380px;
        justify-content: center;
    }

    .footer__data{
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (min-width: 768px){
    .home__cards{
        grid-template-columns: repeat(2, 240px);
    }

    .about__container, 
    .join__container{
        grid-template-columns: repeat(2, 350px);
        align-items: center;
    }
    .about__data,
    .about__data .section__title,
    .join__data,
    .join__data .section__title{
        text-align: initial;
    }

    .popular__container{
        grid-template-columns: repeat(2, 240px);
    }

    .explore__img{
        width: 100vw;
    }

    .join__image{
        order: -1;
    }

    .footer__content{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }

    .footer__group{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__copy{
        order: -1;
    }
}

/* For large devices */
@media screen and (min-width: 1023px){
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
    }

    .popular__container{
        grid-template-columns: repeat(3, 240px);
    }

    .footer__data{
        grid-template-columns: repeat(4, max-content);
        column-gap: 4.5rem;
    }
}

@media screen and (min-width: 1152px){
    .container{
        margin-inline: auto;
    }

    .section{
        padding-block: 7rem 2rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .home__container{
        grid-template-columns: initial;
        justify-content: initial;
        row-gap: 4rem;
        padding-top: 6.5rem;
    }
    .home__shadow{
        height: 980px;
    }
    .home__data{
        text-align: initial;
        width: 480px;
    }
    .home__subtitle{
        font-size: var(--h2-font-size);
    }
    .home__description{
        margin-bottom: 2.5rem;
    }
    .home__cards{
        grid-template-columns: repeat(4, 260px);
    }
    .home__card-title{
        left: 1.5rem;
        bottom: 1.5rem;
    }

    .button{
        column-gap: 1.5rem;
    }

    .about__container{
        grid-template-columns: 400px 460px;
        column-gap: 8.5rem;
        padding-block: 1rem;
    }
    .about__description{
        margin-bottom: 3rem;
    }
    .about__img{
        width: 460px;
    }

    .popular__container{
        grid-template-columns: repeat(3, 300px);
        column-gap: 3rem;
        padding-top: 4rem;
    }

    .popular__title{
        font-size: var(--h2-font-size);
    }
    .popular__location{
        font-size: var(--normal-font-size);
    }

    .explore__img{
        height: 600px;
    }

    .explore__content{
        padding-top: 28rem;
        grid-template-columns: 670px 1fr;
    }
    .explore__data,
    .explore__data .section__title{
        text-align: initial;
    }
    .explore__user{
        justify-content: flex-end;
        align-self: flex-end;
        margin-bottom: 1.25rem;
    }
    .join__container{
        grid-template-columns: 460px 340px;
        column-gap: 8.5rem;
        padding-block: 1rem 5rem;
    }
    .join__img{
        width: 460px;
    }
    .join__description{
        margin-bottom: 3rem;
    }

    .footer{
        padding-block: 5rem 3rem;
    }
    .footer__title{
        margin-bottom: 1.5rem;
    }
    .footer__group{
        margin-top: 7rem;
    }
    .footer__social{
        column-gap: 2rem;
    }
    .footer__social-link{
        font-size: 1.5rem;
    }

    .scrollup{
        right: 3rem;
    }
}

@media (max-width:768px) {

    .show-nav {
        position: absolute;
        top: 0px;
        right: 0;
        background-color: var(--app-header-background-color);
        box-shadow: var(--app-body-box-shadow);
        z-index: 100;
        width: 250px;
        height: 100vh;
    }

    nav > ul {
        display: none;
    }

    .navbar {
        display: block;
        text-align: right;
    }

    nav ul li {
        text-align: right;  
        line-height: 46px;
    }

    nav ul li ~ li {
        border-top: 1px solid rgba(250, 250, 250, 0.8);
    }

    nav ul li a:hover {
        border-bottom: none;
    }

    .show-menu-responsive {
        position: relative;
        top: 0px;
        right: 0px;
        background-color: #fff;
        border-top: 1px solid rgb(92 92 92 / 20%);
        z-index: 100;
        width: 250px;
    }

    .background-opacity-nav-open {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.5;
    }

    .show {
        display: grid;
    }

    .not-show {
        display: none;
    }
}

@media (min-width:768px) {
    nav > ul {
        display: block;
    }
    .navbar {
        display: none;
    }  
    
    .background-opacity-nav-open {
        display: none;
    }
}



#hero-banner {
    height: 100vh;
    text-align: center; 
    margin-top: 76px;
    overflow: hidden; 
    display: grid;
    place-items: center;   
    background: rgba(168, 168, 168, 1) url("../images/bg\ about\ us.jpg") center center / cover no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply; 
}

.content {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    justify-content: center;
    place-content: center;
}

.h-text {
    display: flex;
    place-content: center;
    width: 60%;
    color: #fff;
    font-weight: 10px;
    margin: auto;
}

h1.h-title {
    font-size: 35px;
    color: #fff;
}

.about-text {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.h-button {
    height: 50px;
    width: 170px; 
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0.5rem 1.125rem -0.5rem maroon;
    color: #fff;
    background-color: var(--app-button-background-color);
    transition: all 0.25s ease-in-out;
  }
  
.h-button:hover {
    background-color: maroon;
    color: #fff;
    cursor: pointer;
}

.n-index a {
    position:left;
    color: var(--app-body-background-color);
}

.nav-media {
    position: relative; 
    height: 50px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    position: center;
    place-items: center;
    line-height: 50px;
    top: 20vh;
}




[data-animation-offset] {
    animation: trans 0.5s ease-in ;
  }
  
  [data-animation-offset="first"] { animation-delay: 0.2s;}
  [data-animation-offset="second"] { animation-delay: 0.3s;}
  [data-animation-offset="third"] { animation-delay: 0.5s;}
  
  @keyframes trans {
    from {
        opacity: 0;
        translate: -25px 0;
        
    } to {
        opacity: 3;
        translate: 0 0;
    }
  }

@media (max-width:768px) {
    h1.h-title {
        font-size: 24px;
    }

    .h-text {
        width: 90%;
    }
}

@media (min-width:768px) { 
    h1.h-title {
        font-size: 35px;
    }

    .h-text {
        width: 60%;
    }
}


#our-services {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: black;
    padding: 50px 0;
  }

#our-services h1 {
    color: #fff;
}

  .vertical {
    display: flex;
    flex-wrap: wrap;
  }

  .horizontal {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }

  .board {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, maroon 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }

  .section-heading {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-align: center;
  } 

  .service-para{
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 15px 0px 15px 30px;
  }

  .board-heading {
    font-size: 20px;
    font-weight: 600;
    color: maroon;
    margin: 1em 0;
  }


  .horizontal .board-para {
    color: maroon;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: justify;
  }
  
  .ikon-wrapper {
    background-color: maroon;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }

  .board:hover {
    background-position: 0 100%;
  }
  
  .board:hover .ikon-wrapper {
    background-color: #fff;
    color: maroon;
  }

  .board:hover .board-heading {
    color: #ffffff;
  }

  .board:hover p {
    color: #f0f0f0;
  }

  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .horizontal {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .horizontal {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }


#contact-us {
    background-color: #000;
    padding: 80px 0;
    height: auto;
    padding-top: 155px;
    padding-bottom: 160px;
}


#contact-us .col-bg {
    height: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#contact-us .col-1 {
    width: calc(50% - 10px);
    flex-grow: 1 1 auto;
}

#contact-us .col-2 {
    width: calc(50% - 10px);
    padding-left: 40px;
    flex-grow: 1 1 auto;
}


#contact-us .info {
    margin-left: 80px;
}

#contact-us .col-2 p {
    line-height: 40px;
}



#contact-us .col-2 > div {
    padding-bottom: 20px;
}

#contact-us .col2 p {
    text-align: left;
    letter-spacing: 0.03em; 
    line-height: 1.6;
    margin-left: 40px;
}

#contact-us h1 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

#icon2, #icon3 {
    font-size: 18px;
    color: var(--app-button-background-color);
    transition: all 0.25s ease-in-out;
}

#contact-us p a {
    text-decoration: none;
    color: inherit;
}

#contact-us p a:hover {
    color: var(--app-button-hover-text-color);
}

.submit-feedback {
    color: var(--app-button-background-color);
    display: none;
    font-size: 18px;
}

.invalid-feedback {
    color: #ff0000;
    display: none;
    font-size: 14px;
}

@media (max-width:768px) {
    #contact-us .col-1, #contact-us .col-2  {
        width: 100%;
        padding: 0px;
    }

    #contact-us .col-2  {
        margin-top: 30px;
    }

    #contact-us .col-1  {
        margin-top: 35px;
    }
    
    #contact-us .info {
        margin-left: 30px;
    }

}

@media (max-width: 480px) {
    #contact-us .col-1, #contact-us .col-2  {
        width: 100%;
        padding: 0px;
    }

    #contact-us .col-2  {
        margin-top: 30px;
    }

    #contact-us .col-1  {
        margin-top: 35px;
    }

    #contact-us .info {
        margin-left: 30px;
    }
}

#contact-us form {
    font-size: 0;
    width: 100%;
}

.contact-input {
    width: 100%;
    height: 46px;
    border: 1px solid;
    border-color: rgb(218, 225, 227);
    border-radius: 5px;
    font-weight: 400;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 16px;
}

.contact-input:focus, .contact-input:hover {
    border-color: var(--app-button-hover-text-color);
}

.send-btn {
    width: 170px; 
    height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: var(--app-button-text-color);
    background-color: var(--app-button-background-color);
    box-shadow: 0 0.5rem 1.125rem -0.5rem maroon;
    border: 2px solid;
    border-color: var(--app-button-background-color);
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.25s ease-in-out; 
}

.send-btn:hover {
    color: var(--app-button-hover-text-color);
    background-color: maroon;
}

.intros {
    background-color: var(--app-header-background-color);
    padding: 50px 0;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
    width: 100%;
  }
  
  .columns {
    width: 100%;
    padding: 0.5em 0;
  }

 .intros h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }

  .card {
    height: 60vh;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: var(--app-button-background-color);
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  
  .card img {
     width:7em;
     height:7em;
     border-radius: 50%;
     margin: 0 auto 2em auto;
  }
  
  .card h3 {
    font-weight: 500;
    color: #000;
  }

  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  
  .intros.icons {
    height: 60px;
    width: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .card a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
  }
  
  .card:hover {
    background: linear-gradient(#000, maroon);
    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    .intros {
      padding: 1em 7em;
    }
    .send-btn {
        margin-top: 15px;
        margin-bottom: 15px;
  }
}

  @media screen and (min-width: 992px) {
    .intros {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .columns {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }

    .send-btn {
        margin-top: 15px;
        margin-bottom: 15px;
  }

  }




footer {
    width: 100%;
    background-color: var(--app-footer-background-color);
    color: var(--app-footer-text-color);
    padding: 50px 0px;
}

footer .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .title {
    line-height: 50px; 
    display: flex;
}

footer .title h1 {
    margin-left: 10px;
    font-size: 22px;
    color: var(--app-footer-text-color);
    display: flex;
}

footer a {
    text-decoration: none;
    color: var(--app-footer-text-color);
    line-height: 40px;
}

footer a:hover {
    color: var(--app-button-hover-text-color);
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

footer .col {
    width: calc(33% - 0px);
}

footer .copy p {
    font-size: 16px;
    font-weight: 400;
    text-align: end;
}


@media (max-width:768px) {
    footer .col  {
        width: 100%;
        padding: 0px;
    }

    footer .col ~ .col {
        margin-top: 25px;
    }
}

@media (max-width: 480px) {
    footer .col  {
        width: 100%;
        padding: 0px;
    }

    footer .col ~ .col {
        margin-top: 25px;
    }    
}